<!DOCTYPE html>
<html>

    <head>
        <title>Socket.IO chat</title>
        <link rel="stylesheet" href="http://localhost:3000/css/main.css">
    </head>

    <body id="hidderBody" class="logged-out">
        <a class="btn-accueil" href="/">Page d'accueil</a>
        <section id="Login">
            <form id="formLogin" action="">
                <label for="inputLogin">Username</label>
                <input id="inputLogin" autofocus />
                <button>Login</button>
            </form>
        </section>
        <section id="Chat">
            <ul id="messages"></ul>
            <ul id="users"></ul>
            <form id="formChat" method="get">
                <input id="inputChat" />
                <button>Send</button>
            </form>
        </section>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://localhost:3000/JS/ScriptSalon.js"></script>
    </body>

</html>